h2 {
    text-transform: uppercase;
    padding:.25rem 1rem;
    font-weight: 700;
    color: var(--bs-dark);
    background-color: var(--bs-yellow);
}

h3 {
    color: var(--bs-pink);
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 0;
}

h4 {
    color: var(--bs-yellow);
    text-transform: uppercase;
    font-weight: 700;
    font-family: monospace;
    margin-bottom: 0;
}

section {
    margin-bottom: 2rem;
}

.link-pink {
    color: var(--bs-pink);
}